nav.navbar   {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
}

section.Personal-info-section   {
    padding-top: 55px;
}
section.Personal-info-section i   {
    padding-right: 1em;
}

img.Profile-Pic {
    cursor: pointer;
    transition: 0.3s;
    max-height: 180px;
    border-radius: 75%;
}
img.Profile-Pic:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}/**/

section.Skills-section {
    padding-top: 55px;
}

section.Education-section {
    padding-top: 55px;
}

section.workExperience-section {
    padding-top: 55px;
}
section.workExperience-section img {
    height: 50px;
    width: 50px;
}

section.Recommendations-section {
    padding-top: 50px;
}
section.Recommendations-section img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
section.Recommendations-section > div.Guy {
    text-align: center;
    max-width: 400px;
    display: inline-block;
}
section.Recommendations-section > div.Dor {
    max-width: 400px;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
}

section.ContactMe-section {
    padding-top: 50px;
}